* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    background: rgb(69, 88, 183);
    /* padding: 1rem;
    margin: 1rem;
    height: 20vh; */
}

a, button {
    color: purple;
    font-weight: bold;
    /* padding: 1rem; */
    margin: 1rem;
}

/* li {
    display: inline-block;
    padding: 1rem;
    visibility: hidden;
} */

body {
    font-family: "Poppins";
    margin: 6rem 0rem;
}

span {
    color: red;
    font-weight: bold;
    padding: 0.5rem;
}

ul {
    /* display: flex;
    height: 20rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem; */
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
}

li:first-child {
    /* align-self: flex-end; */
    grid-row: 3/4;
    grid-column: 5/6;
}